

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Edit Profile</h4>
                            
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" action="/admin/me/update">
                                        <div class="row">
                                        <div class="col-lg-6 float-left">
                                            <div class="mb-3">
                                                <label for="simpleinput" class="form-label">Name</label>
                                                <input type="text" id="simpleinput" name="name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 float-left" ><button class="btn btn-primary" type="submit">Submit</button></div>
                                        
                                    </div>
                                    </form>
                                </div> <!-- end col -->

                              
                            </div>
                            <!-- end row-->

                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Change Password</h4>
                            
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" action="/admin/password/update">
                                        <div class="row">
                                        <div class="col-lg-6 float-left">
                                            <div class="mb-3">
                                                <label for="simpleinput" class="form-label">Old Password</label>
                                                <input type="text" id="simpleinput" name="oldPassword" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 float-left">
                                            <div class="mb-3">
                                                <label for="simpleinput" class="form-label">New Password</label>
                                                <input type="text" id="simpleinput" name="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 float-left">
                                            <div class="mb-3">
                                                <label for="simpleinput" class="form-label">Confirm Password</label>
                                                <input type="text" id="simpleinput" name="confirmPassword" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 float-left" ><button class="btn btn-primary" type="submit">Submit</button></div>
                                        
                                    </div>
                                    </form>
                                </div> <!-- end col -->

                              
                            </div>
                            <!-- end row-->

                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div>